/* Menu.module.scss */
.menu {
  background-color: #0070f3;
  color: white;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.menuItem {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
